/* BANNER INICIAL*/

.banner-hero-extend {
    text-align: center;
    color: antiquewhite;
    padding: 3rem;
    padding-left: 10%;
    padding-right: 10%;
    position: relative;
}

.banner-hero {
    background-image: url('../recursos/img-banners/ZMB_banner-home.png');
    height: 40vh;
    background-size: cover;
    box-shadow: 0px 4px 20px gray;
    @extend .banner-hero-extend
}

.banner-hero h1{
   
    font-family: 'Shippori Mincho B1', serif;
    color: #fff; 
    font-size: xx-large;
    font-weight: 300;
    text-align: center;
    letter-spacing: -2px;
}

.banner-hero-servicios {
    background-image: url('../recursos/img-banners/ZMB_banner-servicios.png');
    height: 40vh;
    background-size: cover;
    box-shadow: 0px 4px 20px gray;
    @extend .banner-hero-extend
}

.banner-hero-servicios h1{
   
    font-family: 'Shippori Mincho B1', serif;
    color: #fff; 
    font-size: xx-large;
    font-weight: 300;
    text-align: center;
    letter-spacing: -2px;
}

.banner-hero-contacto {
    background-image: url('../recursos/img-banners/ZMB_banner-contacto.png');
    height: 40vh;
    background-size: cover;
    box-shadow: 0px 4px 20px gray;
    @extend .banner-hero-extend
}

.banner-hero-contacto h1{
   
    font-family: 'Shippori Mincho B1', serif;
    color: #fff; 
    font-size: xx-large;
    font-weight: 300;
    text-align: center;
    letter-spacing: -2px;
}

.banner-hero-contacto h3{
    text-align: center;
    font-size: large;
    padding: 1rem;
}


@media (min-width: 768px) {

    .banner-hero-768px {
        height: 80vh;
        padding: 15vh;
        padding-right: 15%;
        padding-left: 15%;
        font-size:180%;
    }

    .banner-hero {
        @extend .banner-hero-768px
    }

    .banner-hero-servicios {
        @extend .banner-hero-768px
    }

    .banner-hero-contacto {
        height: 50vh;
        padding: 10vh;
        padding-right: 15%;
        padding-left: 15%;
        font-size:180%;
    }


    .banner-hero h1{
        font-size: 75px;
        line-height: 80px;
        font-weight: 300;
    }
    
    .banner-hero-servicios h1{
        font-size: 70px;
        line-height: 80px;
        font-weight: 300;
    }

    .banner-hero-contacto h1{
        font-size: 70px;
        line-height: 80px;
        font-weight: 300;
    }

    .banner-hero-contacto h3{
        text-align: center;
        font-size: xx-large;
        padding: 3rem;
    }
}