$azuloscuro: #023047; $grisoscuro: #3d3f40;

        /* CONTACTO */

        .contacto-flex {
        display: flex;
        flex-direction: column;

        margin-top: 3rem;
    }

    .contacto {
        list-style: none;
        text-decoration: none;
        font-weight: normal;
        font-size: large;
    }

    .contacto h3{
        font-family: 'Shippori Mincho B1', serif
    }

    .contacto h2 {
        font-family: 'Shippori Mincho B1', serif;
        font-size: xx-large;
        font-weight: 300;
        text-align: center;
        margin: 4rem;

    }

    .contacto-mapa {
        width: 98%;  
    }

    .contacto-foto {
        width: 90%; 
    }


    @media (min-width: 768px) {
        .contacto-flex {
            display: flex;
            flex-direction: row;
            justify-content:space-around;
            padding-left: 30vh;
            padding-right: 30vh;
            margin-top: 5rem;
        }
        

        .contacto-mapa {
            width: 150%; 
        }

        .contacto h2 {
            font-size: 240%;
            margin: 5rem;
            padding-left: 15%;
            padding-right: 15%;}


    }