$azul-oscuro: #023047;
$gris-oscuro: #f1efe1;


/* DESCRIPCIÓN */
.texo-descripcion {
    text-align: center;
    padding: 2rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
    color: #023047;
}


.texo-descripcion h2{
    font-size: xx-large;
    font-family: 'Shippori Mincho B1', serif;
    color: #023047;

}

.texo-descripcion p {
    font-size: 13px;
    margin-bottom: 2rem;
    margin: 0.5rem;
    color: #023047;
    font-family: Generalsans, sans-serif;
}

/* SERVICIOS */
.servicio {
    width: 50vw;
    text-align: center;
}

.servicio img {
    width: 40vw;
    margin-bottom: 0.5rem;
    filter: grayscale(40%);
    border-radius: 3%;
    border-color: antiquewhite;
    border-width: 1px;
    border-style: solid
}

.servicio h2{
    font-size: xx-large;
    font-family: 'Shippori Mincho B1', serif;
}

.servicio p {
    font-size: 13px;
    margin-bottom: 2rem;
    margin: 0.5rem;
}

.subtitulo-color {
    background-color: $gris-oscuro;
    color: #023047;
    text-align: center;
    padding: 3rem;
}

.subtitulo-color h2{
    font-size: xx-large;
    font-family: 'Shippori Mincho B1', serif;
    color: #023047;
}

.subtitulo-color p {
    font-size: 13px;
    color: #023047;
}

/* GRILLA DE SERVICIOS - HOME */
.servicios-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: $gris-oscuro;
    border-color: $gris-oscuro;
    color: #023047;
}

.servicios-grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: $gris-oscuro;
    border-color: $gris-oscuro;
    color: #023047;
}

.card{
    margin: 2rem;
}

.button {
    background-color: $gris-oscuro;
    padding-bottom: 6rem;
    padding-top: 2rem;
}


.button-text {
    font-size: 1rem;
    text-decoration: none;
    padding: 1rem;
    color:antiquewhite;
    border-color: antiquewhite;
    margin-left: 20%;
    margin-right: 20%;
    background-color: transparent;
    border-radius: 3%;
}

.button-servicio {
    font-size: 1rem;
    text-decoration: none;
    padding: 0.5rem;
    color:antiquewhite;
    border-color: antiquewhite;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 2rem;
    background-color: transparent;
    border-radius: 3%;
}

/* CLIENTES */

.subtitulo {
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.clientes-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 4rem;
    padding: 1rem;
    vertical-align: center;
    margin-bottom: 4rem;
}


.clientes-grid img {
    width: 15vw;
    margin-bottom: 0.5rem;
    align-content: center;
    margin-left: 25%;
    margin-right: 25%;
}

@media (min-width: 768px) {
    .texo-descripcion h2{
        font-size: xx-large;
      
    }
    .subtitulo-color h2{
        font-size: xx-large;
    }

    h2 {
        font-size: xx-large;
    }

    .texo-descripcion {
        padding-top: 6rem;
        padding-bottom: 6rem;
        padding-left: 20vh;
        padding-right: 20vh;
    }

    .texo-descripcion p {
        margin-top: 1rem;
        padding-left: 15vh;
        padding-right: 15vh;
        font-size: large;
    }

    .servicio {
        width: 20vw;
    }

    .servicio img {
        width: 15vw;
        margin-bottom: 2rem;
    }

    .servicio p {
        font-size: large;
        margin-bottom: 0rem;
    }

    .servicios-grid {
        grid-template-columns: repeat(4, 1fr);
        padding-bottom: 0rem;
        padding-left: 15vh;
        padding-right: 15vh;
    }

    .servicios-grid2 {
        grid-template-columns: repeat(3, 1fr);
        padding-bottom: 0rem;
        padding-left: 15vh;
        padding-right: 15vh;
    }

    .button-text {
        margin-left: 40%;
        margin-right: 40%;
    }

    .subtitulo {
        padding-top: 8rem;
        padding-bottom: 2rem;
    }

    .subtitulo-color {
        padding-top: 4rem;
        padding-left: 20vh;
        padding-right: 20vh;
    }

    .subtitulo-color p {
        font-size: large;
        padding-left: 6rem;
        padding-right: 6rem;
    }

    .clientes-grid {
        padding-left: 15vh;
        padding-right: 15vh;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }    

    .clientes-grid img {
        width: 8vw;
        margin-bottom: 1.5rem;
    }
    .card{
        margin: 1.5rem;
    }
}