@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
/*font-family: 'Montserrat', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1&display=swap');
/*font-family: 'Shippori Mincho B1', serif;*/

* {
    margin: 0;
    padding: 0;
    font-family: Generalsans, sans-serif;
    box-sizing: border-box;
}

